{% extends 'base.html' %}
{% load static %}

{% block layoutstylesheet %}
  
{% endblock layoutstylesheet %}

{% block layout %}


<main>

  <section class="section--filter">
    <div class="container">
      <div class="row align-items-end">

        <div class="col-lg-3">
          <div class="form-group">
            <label for="country" class="d-block">Country</label>
            <select name="" id="country" class="form-control custom--select">
              <option value="All">All Country</option>
              {% for country in countrys %}
                <option value="{{ country.name }}"> {{ country.name }} </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="col-lg-3">
            <div class="form-group">
              <label for="states" class="d-block">States</label>
              <select name="" id="states" class="form-control custom--select">
                <option value="All">All States / Cities</option>
              </select>
            </div>
        </div>
       
        <div class="col-lg-3">
            <div class="form-group">
              <label for="gender" class="d-block">Gender</label>
              <select name="" id="gender" class="form-control custom--select">
                <option value="All">All Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
        </div>

         <div class="col-lg-3">
            <div class="form-group">
              <button type="button" id="view-data" class="btn btn-primary">View Data</button>
            </div>
        </div>

      </div>
    </div>
  </section>

  <section class="section--chart">
    <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div id="population-graph"></div>

            </div>
      
            <div class="col-lg-4">
                <h2 class="heading--primary mb-3">Summary Report</h2>
      
                <table class="table table-responsive d-lg-table table-bordered">
                  <thead>
                    <tr>
                      <th>S.N</th>
                      <th>Country Name</th>
                      <th>Population</th>
                    </tr>
                  </thead>
          
                  <tbody id="max-population">
                    
                  </tbody>
                </table>
            </div>
      </div>
    </div>
  </section>


</main>

{% endblock layout %}

{% block layoutscripts %}


  <script>
  $(function() {
    $.ajax({
      type:"GET",
      url: "{% url 'max-population' %}",
      success:function(result){
        populate_row(result)
      }
    })

  all_countries()
    
  });

  function all_countries(data){

    $.ajax({
      type:"GET",
      data:data,
      url: "{% url 'all-population' %}",
      success:function(result){
        chart_data(result)
      }
    })

  }

  function populate_row(data){
    data.map((item,i)=>{
            
            let temp = ` <tr>
                            <td>${i+1}</td>
                            <td>${item.country__name}</td>
                            <td>${item.total}</td>
                            </tr>`    

            $('#max-population').append(temp)                

        
        })
  }

  function chart_data(datas){
    

  Highcharts.chart('population-graph', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'World Population by Age Group'
    },
    xAxis: {
    },
    series: [{
      name: 'Old',
        data: [datas[0].old]
    }, {
      name: 'Young',
        data: [datas[1].young]
    }, {
      name: 'Child',
        data: [datas[2].child]
    }]
  });
}

$("#country").on('change',function(){
  var country_selected = this.value
  if(country_selected != 'All'){
    $.ajax({
      type:"GET",
      data:{'list':'list','country':country_selected},
      url:"{% url 'city'%}",
      success:function(result){
        $("#states").find('option').not(':first').remove()

        if(Object.keys(result).length>0){ 
                    $.each(result, function (i, item) {
                            $('#states').append($('<option>', { 
                                value: item.name,
                                text : item.name 
                            }));
                        });
                   } 
        
      }

    })
  }
})
  

  $("#view-data").on('click', function(){
    var country = $("#country").val()
    var state = $("#states").val()
    var gender = $("#gender").val()

    if (country == "All" && gender == "All"){
      all_countries()
    }else{
      $.ajax({
      type:"GET",
      data:{
        'country':country,
        'state':state,
        'gender':gender
      },
      url: "{% url 'all-population' %}",
      success:function(result){
        chart_data(result) 
      }
    })

    }
  })

  var pusher = new Pusher('103ebaaa5395c0e58d67', {
      cluster: 'ap2',
      forceTLS: true
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      $('#max-population').empty()
      
      $.each(data.message, function( key, value ) {
  
        let temp = ` <tr>
                            <td>${key+1}</td>
                            <td>${value.country__name}</td>
                            <td>${value.total}</td>
                            </tr>`    

            $('#max-population').append(temp)
    })
    });

  </script>
{% endblock layoutscripts%}