{% extends 'base.html' %}
<title>{% block title %}Population Page{% endblock title %}</title>
{% load static %}

{% block layoutstylesheet %}
  
{% endblock layoutstylesheet %}

{% block layout %}

    <section class="section--country">
        <div class="container">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" data-toggle="modal" data-target="#populationModal">Add Population</button>
            </div>


            <div class="row">
                <div class="col-8">
                    <div class="form-group">
                        <label for="" class="text-dark">Select Country:</label>
                        <select name="" id="coutry_population" class="custom--select" required>
                            <option value="" >Select An Option</option>
                        </select>
                    </div>

                    <table class="table-responsive table d-lg-table table-bordered">
                        <thead>
                            <tr>
                                    <th rowspan="2">
                                            State
                                    </th>
                                    <th rowspan="2">
                                        Age group
                                    </th>
                                    <th colspan="2">
                                        Population
                                    </th>
                                    <th rowspan="2" class="text-center">
                                        Action
                                    </th>
                            </tr>
                            <tr>
                                <th>Male</th>
                                <th>Female</th>
                            </tr>
                        </thead>

                        <tbody id="countryData">
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>


    <div class="modal modal--login" tabindex="-1" id="populationModal" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add Population</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action=" " method="POST">

                    {% csrf_token %}

                    <div class="form-group">
                        <label for="" class="d-block mb-2">
                            Country
                        </label>
                        <select name="country" id="countryselect" class="custom--select w-100" required="required">
                            <option selected disabled>Select An Option</option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label for="" class="d-block mb-2">
                                City/State
                            </label>
                            <select name="city_or_state" id="cityselect" class="custom--select w-100" required="required">
                                 <option selected disabled>Select An Option</option>
                            </select>
                    </div>
                    <div class="form-group">
                            <label for="" class="d-block mb-2">
                                Age Group
                            </label>
                            <select name="group" id="age-group" class="custom--select w-100" required="required">
                                <option value="ol">Old</option>
                                <option value="yo">Young</option>
                                <option value="ch">Child</child>
                            </select>
                    </div>
                    <div class="form-group">
                      <label for="">Population</label>
                      <div class="d-flex">
                          <div class="form-group mr-2">
                              <label for="" class="d-block small">
                                  Male
                              </label>
                              <input type="number" min="0"  oninput="validity.valid||(value='');" class="form-control" name = "no_of_male" id = "no_of_male" required="required">
                          </div>

                          <div class="form-group">
                                <label for="" class="d-block small">
                                    Female
                                </label>
                                <input type="number" min="0" oninput="validity.valid||(value='');" class="form-control" name = "no_of_female" id="no_of_female" required="required">
                            </div>
                      </div>
                 
                    </div>
                    
                      
                    <button class="btn btn-primary" id="population-create">Save</button>
                  </form>
                </div>
               
              </div>
            </div>
    </div>

    <div class="modal modal--login" tabindex="-1" id="populationeditModal" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Population</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action=" " method="POST">

                    {% csrf_token %}
                    <input type="hidden" id="edit-popn">

                    <div class="form-group">
                        <label for="" class="d-block mb-2">
                            Country
                        </label>
                        <select name="country" id="countryeditselect" class="custom--select w-100" required="required">
                            <option selected disabled>Select An Option</option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label for="" class="d-block mb-2">
                                City/State
                            </label>
                            <select name="city_or_state" id="cityeditselect" class="custom--select w-100" required="required">
                                 <option selected disabled>Select An Option</option>
                            </select>
                    </div>
                    <div class="form-group">
                            <label for="" class="d-block mb-2">
                                Age Group
                            </label>
                            <select name="group" id="age-edit-group" class="custom--select w-100" required="required">
                                <option value="ol">Old</option>
                                <option value="yo">Young</option>
                                <option value="ch">Child</child>
                            </select>
                    </div>
                    <div class="form-group">
                      <label for="">Population</label>
                      <div class="d-flex">
                          <div class="form-group mr-2">
                              <label for="" class="d-block small">
                                  Male
                              </label>
                              <input type="number" min="0"  oninput="validity.valid||(value='');" class="form-control" name = "no_of_male" id = "edit_no_of_male" required="required">
                          </div>

                          <div class="form-group">
                                <label for="" class="d-block small">
                                    Female
                                </label>
                                <input type="number" min="0"  oninput="validity.valid||(value='');" class="form-control" name = "no_of_female" id="edit_no_of_female" required="required">
                            </div>
                      </div>
                 
                    </div>
                    
                      
                    <button class="btn btn-primary" id="edit-population-create">Save</button>
                  </form>
                </div>
               
              </div>
            </div>
    </div>

{% endblock layout %}

{% block layoutscripts %}
<script>
    function country_list(ids_value){
        $.ajax({
                type:"GET",
                url:"{% url 'country' %}",
                data:{'list':'list'},
                success:function(result){
                   if(Object.keys(result).length>0){ 
                    $.each(result, function (i, item) {
                            $('#'+ids_value).append($('<option>', { 
                                value: item.id,
                                text : item.name 
                            }));
                        });
                   }    
                }
            })
    }

    function city_list(country_name,ids_value){
        
        $.ajax({
                type:"GET",
                url:"{% url 'city' %}",
                data:{'list':'list','id':country_name},
                success:function(result){
                   if(Object.keys(result).length>0){ 
                    $.each(result, function (i, item) {
                            $('#'+ids_value).append($('<option>', { 
                                value: item.id,
                                text : item.name 
                            }));
                        });
                   } 
                }
            })
    }

    country_list('coutry_population')

    $("#populationModal").on('shown.bs.modal',function(){
        country_list('countryselect')
        $("#countryselect").on('change',function(){
            $('#cityselect').find('option').not(':first').remove()
            city_list(this.value,'cityselect')   
        })
    })

    $("#populationModal").on('hidden.bs.modal',function(){
        
      $(this).find('form')[0].reset();  
      $("#countryselect").find('option').not(':first').remove()
      $('#cityselect').find('option').not(':first').remove()

    })

    $("#populationeditModal").on('shown.bs.modal',function(){
        
        $("#countryeditselect").on('click',function(){
            $('#cityeditselect').find('option').not(':first').remove()
            city_list(this.value,'cityeditselect')   
        })

})

    $("#populationeditModal").on('hidden.bs.modal',function(){
      
      $(this).find('form')[0].reset();  
      $("#countryeditselect").find('option').not(':first').remove()
      $('#cityeditselect').find('option').not(':first').remove()
       
    })

    $("#coutry_population").change(function(){

        $('#countryData').html('')
        $.ajax({
                type:"GET",
                url:"{% url 'population' %}",
                data:{'id':this.value},
                success:function (result){
                    addData(result)
                }
            })
    })

    $("#population-create").on('click',function(event){
        event.preventDefault()
        $("#population-create").attr("disabled",true)
        var country = $("#countryselect").val()
        var city_or_state = $("#cityselect").val()
        var group = $("#age-group").val()
        var no_of_male = $("#no_of_male").val()
        var no_of_female = $("#no_of_female").val()
        
        $.ajax({
          type:"POST",
          url:"{% url 'population-edit' %}",
          data:{'country':country,
                'city_or_state':city_or_state,
                'group':group,
                'no_of_male':no_of_male,
                'no_of_female':no_of_female,
                
                csrfmiddlewaretoken: '{{ csrf_token }}'},
          success:function(result){
            if (result.status == "True"){
              alert(result.message)
              window.location.reload()
            }else {
              $("#population-create").attr("disabled",false)
              if(result.errors){
              var responses = result.errors.__all__[0]
              alert(responses)
              }else{
                  alert("Please Check console of browser for errors")
                  console.log(result.error)
              }
            }
          }
        })
    })

    $("#edit-population-create").on('click',function(event){
        event.preventDefault()
        $("#population-create").attr("disabled",true)
        var country = $("#countryeditselect").val()
        var city_or_state = $("#cityeditselect").val()
        var group = $("#age-edit-group").val()
        var no_of_male = $("#edit_no_of_male").val()
        var no_of_female = $("#edit_no_of_female").val()
        var population_id = $("#edit-popn").val()

        $.ajax({
          type:"POST",
          url:"{% url 'population-edit' %}",
          data:{'country':country,
                'city_or_state':city_or_state,
                'group':group,
                'no_of_male':no_of_male,
                'no_of_female':no_of_female,
                'id':population_id,
                csrfmiddlewaretoken: '{{ csrf_token }}'},
          success:function(result){
            if (result.status == "True"){
              alert(result.message)
              window.location.reload()
            }else {
              $("#population-create").attr("disabled",false)
              if(result.errors){
              var responses = result.errors.__all__[0]
              alert(responses)
              }else{
                  alert("Please Check console of browser for errors")
                  console.log(result.error)
              }
            }
          }
        })
    })


    function addData(result){
        if(result.length > 0){
            result.map((item,i)=>{
            
            let temp = ` <tr key=${item.id}>
                                <td>
                                    ${item.state}
                                </td>
                                <td>${item.age_group}</td>
                                <td>${item.male}</td>
                                <td>${item.female}</td>
                                
                                <td>
                                    <div class="d-flex justify-content-end">
                                            <button class="btn btn-sm btn-info mr-2 edit-pops" id=${item.id}>Edit</button>
                                            <button class="btn btn-sm btn-danger" id=${item.id}>Delete</button>
                                    </div>
                                </td>
                            </tr>`    

            $('#countryData').append(temp)                

        
        })
        }
        else{
            let template2 = `
            <tr>
            <td colspan="5">No data in the table</td>
            </tr>
            `
            $('#countryData').append(template2)
        }
        
        
    }
    $(document).on('click', '.btn-danger', function() { 
      var method = "DELETE"
      var delete_country = confirm("Are you sure you want to delete this population and all of it's details?");
      if (delete_country){
        $.ajax({
            type:"POST",
            url:"{% url 'population-edit' %}",
            data:{'id':this.id,
                  'method':method,
                  csrfmiddlewaretoken: '{{ csrf_token }}'},
            success:function(result){
              alert("Population has been deleted");
              location.reload();
            }
        })
      }
     });

     $(document).on('click', '.edit-pops', function() {
        $("#edit-popn").val(this.id)
        city_list($("#coutry_population").val(),'cityeditselect')
        country_list('countryeditselect')
        $.ajax({
          type:"GET",
          url:"{% url 'population-edit' %}",
          data:{'id':this.id},
          success:function(result){
            console.log(result)
            $("#edit_no_of_male").val(result.no_of_male)
            $("#edit_no_of_female").val(result.no_of_female)
            $("#age-edit-group").val(result.group)
            $("#countryeditselect").val(result.country_id).trigger('change')
           
            $("#cityeditselect").val(result.city_or_state).trigger('change') 
            $("#populationeditModal").modal('show')
          }
      })
      
         


     })
</script>
{% endblock layoutscripts%}